body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #F7F7F7;
}

.calendar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
}

.week {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.day {
    flex: 1;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.event {
    margin-top: 10px;
    padding: 10px;
}

.info {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #fff;
}

h2 {
    margin-bottom: 10px;
    color: #333;
}

p {
    margin: 5px 0;
}

.add-event-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.add-event-button:hover {
    background-color: #2ecc71;
}
